// 
// Contacts.scss
//

.contact-links{
  a{
    color: $body-color;
  }
}
// profile
.overflow-field{
  display: block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-center{
  text-align: center;
  vertical-align: middle;
}
.sep-line{
  display: flex;
  flex-direction: column;
}
.overflow-field-enquiry{
  display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.vendormode{
  display: flex;
  flex-direction: row;
}
.overflow-comment{
  display: block;
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.profile-user-wid{
  margin-top: -26px;
}